.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
.DS_Store
docs/
Rmd-files/pdf-thesis.aux
Rmd-files/pdf-thesis.bbl
Rmd-files/pdf-thesis.blg
Rmd-files/pdf-thesis.log
Rmd-files/pdf-thesis.toc
Rmd-files/papers/*.docx.pdf
