.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
.DS_Store
docs/pdf-thesis.tex
docs/2024_EPH_PhD_Bosse_N.pdf
Rmd-files/pdf-thesis.aux
Rmd-files/pdf-thesis.bbl
Rmd-files/pdf-thesis.blg
Rmd-files/pdf-thesis.log
Rmd-files/pdf-thesis.toc
Rmd-files/papers/*.docx.pdf
Rmd-files/pdf-thesis_cache/*
